In [1]:
%matplotlib inline

import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime
import climate_change_util as cc

##### Reading and cleaning the OECD dataset

In [2]:
oecd = pd.read_csv('./Data/MUNW_27112022020812290.csv', usecols=[0,1,3,5,7,9,11,12,14])

##### Cleaning and reshaping using the functions created in the climate_change_util script

In [3]:
oecd = cc.clean_data(oecd,['Country','Variable'])

In [4]:
oecd.head()

,COU,Country,Variable,Year,Unit,PowerCode,Reference Period,Value,Flags
0,AUS,Australia,Municipal waste generated,1992,Tonnes,Thousands,NaN,12000.000,NaN
1,AUS,Australia,Municipal waste generated,2000,Tonnes,Thousands,NaN,13200.000,NaN
2,AUS,Australia,Municipal waste generated,2007,Tonnes,Thousands,NaN,12885.684,NaN
3,AUS,Australia,Municipal waste generated,2008,Tonnes,Thousands,NaN,13096.500,Estimated value
4,AUS,Australia,Municipal waste generated,2009,Tonnes,Thousands,NaN,13343.236,NaN

In [5]:
oecd_reshaped = cc.long_to_wide(oecd,['Year','COU','Country'],'Variable','Value',['Country', 'Year'])

In [6]:
oecd_reshaped.head()

Variable                               % Composting  % Disposal  \
Year COU Country
1990 AUT Austria                             23.171      56.277
     BEL Belgium                              5.983      66.751
     CHE Switzerland                          6.341      22.680
     CHN China (People's Republic of)           NaN         NaN
     DEU Germany                                NaN         NaN

Variable                               % Incineration  \
Year COU Country
1990 AUT Austria                                8.881
     BEL Belgium                               45.039
     CHE Switzerland                           48.773
     CHN China (People's Republic of)             NaN
     DEU Germany                                  NaN

Variable                               % Incineration with energy recovery  \
Year COU Country
1990 AUT Austria                                                     8.881
     BEL Belgium                                                    22.141
     CHE Switzerland                                                48.773
     CHN China (People's Republic of)                                  NaN
     DEU Germany                                                       NaN

Variable                               % Incineration without energy recovery  \
Year COU Country
1990 AUT Austria                                                          NaN
     BEL Belgium                                                       22.898
     CHE Switzerland                                                    0.000
     CHN China (People's Republic of)                                     NaN
     DEU Germany                                                          NaN

Variable                               % Landfill  \
Year COU Country
1990 AUT Austria                           56.277
     BEL Belgium                           43.853
     CHE Switzerland                       22.680
     CHN China (People's Republic of)         NaN
     DEU Germany                              NaN

Variable                               % Material recovery (Recycling + Composting)  \
Year COU Country
1990 AUT Austria                                                             34.529
     BEL Belgium                                                             11.108
     CHE Switzerland                                                         28.547
     CHN China (People's Republic of)                                           NaN
     DEU Germany                                                                NaN

Variable                               % Other disposal  % Other recovery  \
Year COU Country
1990 AUT Austria                                    NaN             0.313
     BEL Belgium                                    NaN               NaN
     CHE Switzerland                                NaN               NaN
     CHN China (People's Republic of)               NaN               NaN
     DEU Germany                                    NaN               NaN

Variable                               % Recovery  ...  \
Year COU Country                                   ...
1990 AUT Austria                           43.723  ...
     BEL Belgium                           33.249  ...
     CHE Switzerland                       77.320  ...
     CHN China (People's Republic of)         NaN  ...
     DEU Germany                              NaN  ...

Variable                               Municipal waste generated per capita  \
Year COU Country
1990 AUT Austria                                                    414.814
     BEL Belgium                                                    343.375
     CHE Switzerland                                                616.366
     CHN China (People's Republic of)                                   NaN
     DEU Germany                                                    630.670

Variable                               Municipal waste generated, Index 1990  \
Year COU Country
1990 AUT Austria                                                       100.0
     BEL Belgium                                                       100.0
     CHE Switzerland                                                   100.0
     CHN China (People's Republic of)                                  100.0
     DEU Germany                                                       100.0

Variable                               Municipal waste generated, Index 2000  \
Year COU Country
1990 AUT Austria                                                      68.963
     BEL Belgium                                                      71.131
     CHE Switzerland                                                  86.675
     CHN China (People's Republic of)                                 57.254
     DEU Germany                                                      94.408

Variable                               Municipal waste treated  \
Year COU Country
1990 AUT Austria                                        3513.0
     BEL Belgium                                        3961.0
     CHE Switzerland                                    4100.6
     CHN China (People's Republic of)                      NaN
     DEU Germany                                           NaN

Variable                               Other disposal  Other municipal waste  \
Year COU Country
1990 AUT Austria                                  NaN                  700.0
     BEL Belgium                                  NaN                  552.0
     CHE Switzerland                              NaN                 1681.0
     CHN China (People's Republic of)             NaN                    NaN
     DEU Germany                                  NaN                    NaN

Variable                               Other recovery  Recycling  \
Year COU Country
1990 AUT Austria                                 11.0      399.0
     BEL Belgium                                  NaN      203.0
     CHE Switzerland                              NaN      910.6
     CHN China (People's Republic of)             NaN        NaN
     DEU Germany                                  NaN        NaN

Variable                               Total Incineration  \
Year COU Country
1990 AUT Austria                                    312.0
     BEL Belgium                                   1784.0
     CHE Switzerland                               2000.0
     CHN China (People's Republic of)                 NaN
     DEU Germany                                      NaN

Variable                               Waste from households
Year COU Country
1990 AUT Austria                                      2504.0
     BEL Belgium                                      2884.0
     CHE Switzerland                                  2733.7
     CHN China (People's Republic of)                    NaN
     DEU Germany                                         NaN

[5 rows x 31 columns]

###### Convert the pivot table to dataframe

In [49]:
oecd_final = pd.DataFrame(oecd_reshaped.to_records())
oecd_final.tail(50)

,Year,COU,Country,% Composting,% Disposal,% Incineration,% Incineration with energy recovery,% Incineration without energy recovery,% Landfill,% Material recovery (Recycling + Composting),...,Municipal waste generated per capita,"Municipal waste generated, Index 1990","Municipal waste generated, Index 2000",Municipal waste treated,Other disposal,Other municipal waste,Other recovery,Recycling,Total Incineration,Waste from households
1150,2019,GRC,Greece,5.034,77.652,NaN,1.320,0.000,77.652,21.029,...,535.944,187.106,126.224,5613.179,NaN,NaN,NaN,897.793,NaN,NaN
1151,2019,HUN,Hungary,9.312,50.594,NaN,13.585,0.000,50.594,35.822,...,390.307,68.727,83.040,3791.000,NaN,652.000,NaN,1005.000,NaN,3128.000
1152,2019,IRL,Ireland,9.714,15.537,NaN,46.513,0.009,15.528,37.950,...,631.982,NaN,135.413,3036.991,0.000,1466.550,0.000,857.553,NaN,1619.102
1153,2019,ISR,Israel,15.054,76.450,1.655,1.655,NaN,76.450,21.895,...,676.021,NaN,145.158,5759.268,NaN,NaN,NaN,394.005,95.326,NaN
1154,2019,ITA,Italy,22.914,23.179,NaN,20.489,0.639,22.541,55.374,...,495.837,150.115,103.674,27874.000,NaN,NaN,267.000,9048.000,NaN,NaN
1155,2019,JPN,Japan,0.377,5.584,79.507,74.850,4.657,0.927,19.565,...,336.882,85.038,77.940,42923.000,NaN,13022.000,NaN,8236.000,34127.000,29714.000
1156,2019,KOR,Korea,3.195,18.541,25.740,21.742,3.998,12.657,59.718,...,412.997,69.033,124.814,21155.910,398.950,4397.990,NaN,11957.850,5445.470,16757.920
1157,2019,LTU,Lithuania,25.234,24.494,NaN,16.774,0.001,24.493,56.505,...,477.829,NaN,103.347,1159.314,0.000,395.588,25.612,362.528,NaN,923.038
1158,2019,LUX,Luxembourg,19.234,4.400,NaN,46.670,0.000,4.400,48.932,...,796.940,219.456,172.020,490.704,0.000,169.641,NaN,145.727,NaN,321.063
1159,2019,LVA,Latvia,4.866,56.400,NaN,3.317,NaN,56.400,40.284,...,440.758,NaN,130.905,853.959,NaN,NaN,NaN,302.455,NaN,NaN
1160,2019,NLD,Netherlands,29.173,2.487,NaN,40.620,1.079,1.408,56.893,...,515.058,118.520,92.413,8806.000,NaN,951.000,NaN,2441.000,NaN,7855.000
1161,2019,NOR,Norway,10.950,3.709,NaN,49.462,0.000,3.709,40.859,...,771.686,207.540,150.664,4150.795,0.000,2215.968,247.828,1241.467,NaN,1934.827
1162,2019,OECD,OECD - Total,10.360,43.459,20.089,19.504,0.585,40.940,34.362,...,535.240,133.166,111.960,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1163,2019,OECDAM,OECD America,7.041,60.040,8.653,8.653,0.000,56.631,26.863,...,623.795,148.087,125.207,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1164,2019,OECDAO,OECD Asia Oceania,4.540,23.630,45.260,42.020,3.240,19.930,31.200,...,396.733,104.915,93.384,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1165,2019,OECDE,OECD - Europe,16.430,28.620,26.780,26.280,0.510,27.600,44.830,...,500.198,127.631,104.602,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1166,2019,POL,Poland,9.043,44.427,NaN,21.500,1.400,43.027,34.073,...,336.594,114.911,104.309,12752.778,NaN,1976.346,NaN,3192.053,NaN,10776.432
1167,2019,PRT,Portugal,17.568,49.837,NaN,19.814,0.000,49.837,30.349,...,516.457,176.046,112.261,5027.378,0.000,NaN,0.000,642.581,NaN,NaN
1168,2019,SVK,Slovak Republic,11.748,55.916,NaN,5.467,3.724,52.192,38.613,...,421.267,NaN,167.961,2293.593,0.000,921.115,0.000,616.162,NaN,1377.745
1169,2019,SVN,Slovenia,20.268,12.473,NaN,15.692,0.073,12.401,71.738,...,506.223,NaN,103.162,867.920,0.000,423.274,0.000,446.716,NaN,628.981
1170,2019,SWE,Sweden,14.159,0.750,NaN,52.629,0.000,0.750,46.622,...,459.410,144.088,122.206,4610.820,0.000,904.930,0.000,1496.810,NaN,3705.890
1171,2019,TUR,Türkiye,0.382,87.671,NaN,0.000,0.000,87.670,12.329,...,419.724,NaN,114.372,32660.809,0.544,6523.740,0.000,3901.981,NaN,28493.652
1172,2020,BEL,Belgium,18.915,1.166,NaN,42.915,0.018,1.149,54.233,...,414.152,139.693,99.365,4799.862,0.000,NaN,80.921,1695.243,NaN,NaN
1173,2020,CHE,Switzerland,23.048,0.000,NaN,47.162,0.000,0.000,52.838,...,704.364,148.661,128.852,6096.000,0.000,2413.000,0.000,1816.000,NaN,3683.000
1174,2020,CRI,Costa Rica,2.997,93.760,NaN,0.124,NaN,83.822,6.116,...,286.466,NaN,NaN,1459.290,145.020,277.630,NaN,45.510,NaN,1181.620
1175,2020,CYP,Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,462.180,0.000,162.850,0.000,82.790,NaN,379.990
1176,2020,CZE,Czech Republic,12.376,49.486,NaN,15.247,0.095,49.391,34.732,...,506.002,NaN,157.798,5271.690,NaN,1472.620,28.186,1178.537,NaN,3946.155
1177,2020,DEU,Germany,19.254,1.576,NaN,31.375,0.282,0.176,67.050,...,627.411,105.435,99.540,52566.960,587.624,13101.377,0.000,25124.751,NaN,39465.583
1178,2020,DNK,Denmark,18.371,0.883,NaN,45.196,0.000,0.883,53.922,...,850.546,NaN,138.932,4925.766,0.000,1452.366,0.000,1751.145,NaN,3474.165
1179,2020,ESP,Spain,17.496,52.007,NaN,11.551,0.000,52.007,36.442,...,460.477,NaN,81.228,21529.489,0.000,NaN,0.000,4079.012,NaN,NaN
1180,2020,EST,Estonia,3.153,16.990,NaN,49.565,0.000,16.931,33.411,...,384.082,NaN,80.489,440.154,0.264,216.873,0.159,133.179,NaN,292.625
1181,2020,FIN,Finland,13.476,0.623,NaN,57.794,0.076,0.547,41.583,...,594.897,NaN,126.775,3296.157,0.000,1303.018,0.000,926.447,NaN,1993.139
1182,2020,FRA,France,19.883,18.464,NaN,38.341,0.147,18.316,42.689,...,536.110,NaN,115.758,35745.146,0.000,6507.649,0.000,8151.998,NaN,29645.956
1183,2020,GBR,United Kingdom,17.058,14.668,44.332,42.026,2.305,10.023,42.872,...,456.680,114.399,91.306,31099.558,727.413,3484.909,135.000,8027.924,13786.978,27485.076
1184,2020,HUN,Hungary,10.802,50.029,NaN,16.925,0.099,49.930,33.024,...,367.003,64.461,77.886,3545.934,NaN,492.227,NaN,787.968,NaN,3053.154
1185,2020,ISR,Israel,14.254,77.726,1.592,1.592,NaN,77.726,20.683,...,691.158,NaN,150.781,5982.347,NaN,NaN,NaN,384.622,95.210,NaN
1186,2020,LTU,Lithuania,23.432,18.417,NaN,29.133,0.003,18.414,50.929,...,495.888,NaN,105.802,1197.063,0.000,364.486,17.070,329.152,NaN,985.461
1187,2020,LUX,Luxembourg,23.541,3.916,NaN,43.198,0.000,3.916,52.889,...,795.169,222.614,174.495,497.764,NaN,118.342,NaN,146.081,NaN,379.423
1188,2020,LVA,Latvia,7.605,55.483,NaN,2.796,0.000,55.483,41.609,...,481.900,NaN,141.583,865.257,0.000,NaN,0.000,294.231,NaN,NaN
1189,2020,NLD,Netherlands,29.106,2.274,NaN,40.875,0.901,1.373,56.839,...,543.978,125.451,97.817,9321.000,NaN,935.000,NaN,2585.000,NaN,8386.000
1190,2020,NOR,Norway,9.639,2.295,NaN,46.455,0.000,2.295,44.962,...,720.315,195.250,141.742,3904.995,0.000,1604.235,245.544,1379.389,NaN,2300.760
1191,2020,OECD,OECD - Total,10.380,43.111,20.507,19.931,0.575,40.617,34.285,...,533.756,133.414,112.169,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1192,2020,OECDAM,OECD America,7.037,60.053,8.651,8.651,0.000,56.630,26.854,...,619.226,148.135,125.248,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193,2020,OECDAO,OECD Asia Oceania,4.510,23.850,45.140,41.910,3.230,20.160,31.090,...,397.521,105.188,93.626,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1194,2020,OECDE,OECD - Europe,16.380,27.790,27.870,27.380,0.480,26.840,44.550,...,500.380,128.082,104.971,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1195,2020,POL,Poland,12.030,41.047,NaN,20.250,1.269,39.779,38.702,...,346.581,118.192,107.287,13116.898,NaN,1828.615,NaN,3498.629,NaN,11288.283
1196,2020,PRT,Portugal,14.289,53.455,NaN,18.979,0.000,53.455,27.566,...,517.667,175.950,112.200,5070.835,0.000,0.000,0.000,673.228,NaN,0.000
1197,2020,SVK,Slovak Republic,13.720,49.755,NaN,7.952,0.004,49.751,42.287,...,433.292,NaN,172.838,2361.663,0.000,1029.008,0.147,674.654,NaN,1336.614
1198,2020,SVN,Slovenia,18.142,11.023,NaN,13.970,2.544,8.479,74.958,...,492.600,NaN,100.400,808.953,0.000,395.637,0.000,459.605,NaN,628.439
1199,2020,SWE,Sweden,18.262,0.475,NaN,60.597,0.000,0.427,38.576,...,441.597,139.369,118.203,4422.317,2.092,684.280,14.219,898.350,NaN,3775.526

##### Reading and cleaning the World Bank's WDI dataset

In [17]:
wdi = pd.read_csv('./Data/Data.csv')

In [18]:
wdi = wdi.drop(['Series Code'],axis=1)

In [19]:
wdi_clean = cc.clean_data(wdi,['Country Name','Series Name'])

In [20]:
wdi_long = cc.wide_to_long(wdi_clean,"YR",["index","Country Name","Country Code"],"Year",["Country Code", "Country Name", "Year", "Series Name", "YR"])

In [21]:
wdi_long.head()

  Country Code Country Name  Year                             Series Name   YR
0          ARG    Argentina  1980  CO2 emissions (metric tons per capita)  NaN
1          ARG    Argentina  1981  CO2 emissions (metric tons per capita)  NaN
2          ARG    Argentina  1982  CO2 emissions (metric tons per capita)  NaN
3          ARG    Argentina  1983  CO2 emissions (metric tons per capita)  NaN
4          ARG    Argentina  1984  CO2 emissions (metric tons per capita)  NaN

In [22]:
wdi_reshaped = cc.long_to_wide(wdi_long,['Year','Country Code','Country Name'],'Series Name','YR',['Year','Country Name'])

In [23]:
wdi_reshaped.head()

Series Name                                   CO2 emissions (metric tons per capita)  \
Year Country Code Country Name
1980 ABW          Aruba                                                          NaN
     AFE          Africa Eastern and Southern                                    NaN
     AFG          Afghanistan                                                    NaN
     AFW          Africa Western and Central                                     NaN
     AGO          Angola                                                         NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Energy use (kg of oil equivalent per capita)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                NaN
     AFE          Africa Eastern and Southern                             789.384320528797
     AFG          Afghanistan                                                          NaN
     AFW          Africa Western and Central                              569.830665834955
     AGO          Angola                                                  547.044521890499

Series Name                                   Forest area (sq. km)  \
Year Country Code Country Name
1980 ABW          Aruba                                        NaN
     AFE          Africa Eastern and Southern                  NaN
     AFG          Afghanistan                                  NaN
     AFW          Africa Western and Central                   NaN
     AGO          Angola                                       NaN

Series Name                                   GDP (constant 2015 US$)  \
Year Country Code Country Name
1980 ABW          Aruba                                           NaN
     AFE          Africa Eastern and Southern        333894467085.439
     AFG          Afghanistan                                     NaN
     AFW          Africa Western and Central         245386033779.559
     AGO          Angola                             22133386922.5976

Series Name                                   GDP growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                         NaN
     AFE          Africa Eastern and Southern      5.41938159928385
     AFG          Afghanistan                                   NaN
     AFW          Africa Western and Central       1.99542065752085
     AGO          Angola                                        NaN

Series Name                                   GDP per capita (constant 2015 US$)  \
Year Country Code Country Name
1980 ABW          Aruba                                                      NaN
     AFE          Africa Eastern and Southern                   1468.92096062617
     AFG          Afghanistan                                                NaN
     AFW          Africa Western and Central                    1574.17539390181
     AGO          Angola                                        2653.47289479177

Series Name                                   GDP per capita growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                                    NaN
     AFE          Africa Eastern and Southern                 2.37442217038561
     AFG          Afghanistan                                              NaN
     AFW          Africa Western and Central                 -0.76473427494092
     AGO          Angola                                                   NaN

Series Name                                    ...  \
Year Country Code Country Name                 ...
1980 ABW          Aruba                        ...
     AFE          Africa Eastern and Southern  ...
     AFG          Afghanistan                  ...
     AFW          Africa Western and Central   ...
     AGO          Angola                       ...

Series Name                                   Government expenditure on education, total (% of government expenditure)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Population density (people per sq. km of land area)  \
Year Country Code Country Name
1980 ABW          Aruba                                                         333.872222222222
     AFE          Africa Eastern and Southern                                   15.5992323017681
     AFG          Afghanistan                                                   20.4782055409901
     AFW          Africa Western and Central                                    17.2325957518312
     AGO          Angola                                                        6.69069543595091

Series Name                                   Population growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                  0.208213685729551
     AFE          Africa Eastern and Southern             2.97433613234995
     AFG          Afghanistan                           -0.407658191922243
     AFW          Africa Western and Central              2.78142544618063
     AGO          Angola                                  3.45385947653688

Series Name                                   Population, female  \
Year Country Code Country Name
1980 ABW          Aruba                                    30806
     AFE          Africa Eastern and Southern          114440574
     AFG          Afghanistan                            6568227
     AFW          Africa Western and Central            78003993
     AGO          Angola                                 4115191

Series Name                                   Population, female (% of total population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                 51.2604622526915
     AFE          Africa Eastern and Southern                           50.3464941930698
     AFG          Afghanistan                                           49.1762587504211
     AFW          Africa Western and Central                            50.0403240214554
     AGO          Angola                                                 49.335186763678

Series Name                                   Population, total  \
Year Country Code Country Name
1980 ABW          Aruba                                   60097
     AFE          Africa Eastern and Southern         227305945
     AFG          Afghanistan                          13356500
     AFW          Africa Western and Central          155882270
     AGO          Angola                                8341290

Series Name                                   Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Poverty headcount ratio at national poverty lines (% of population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Urban population (% of total population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                         50.472
     AFE          Africa Eastern and Southern                         20.8449997980123
     AFG          Afghanistan                                                   15.995
     AFW          Africa Western and Central                          24.5185774336299
     AGO          Angola                                                        24.298

Series Name                                   Urban population growth (annual %)
Year Country Code Country Name
1980 ABW          Aruba                                        0.178188464900201
     AFE          Africa Eastern and Southern                   4.45422064112357
     AFG          Afghanistan                                   3.11083842471923
     AFW          Africa Western and Central                    4.89701529375728
     AGO          Angola                                        8.11256004063561

[5 rows x 21 columns]

In [24]:
wdi_reshaped = wdi_reshaped.rename({'Country Code': 'COU'})
wdi_reshaped.head()

Series Name                                   CO2 emissions (metric tons per capita)  \
Year Country Code Country Name
1980 ABW          Aruba                                                          NaN
     AFE          Africa Eastern and Southern                                    NaN
     AFG          Afghanistan                                                    NaN
     AFW          Africa Western and Central                                     NaN
     AGO          Angola                                                         NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Energy use (kg of oil equivalent per capita)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                NaN
     AFE          Africa Eastern and Southern                             789.384320528797
     AFG          Afghanistan                                                          NaN
     AFW          Africa Western and Central                              569.830665834955
     AGO          Angola                                                  547.044521890499

Series Name                                   Forest area (sq. km)  \
Year Country Code Country Name
1980 ABW          Aruba                                        NaN
     AFE          Africa Eastern and Southern                  NaN
     AFG          Afghanistan                                  NaN
     AFW          Africa Western and Central                   NaN
     AGO          Angola                                       NaN

Series Name                                   GDP (constant 2015 US$)  \
Year Country Code Country Name
1980 ABW          Aruba                                           NaN
     AFE          Africa Eastern and Southern        333894467085.439
     AFG          Afghanistan                                     NaN
     AFW          Africa Western and Central         245386033779.559
     AGO          Angola                             22133386922.5976

Series Name                                   GDP growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                         NaN
     AFE          Africa Eastern and Southern      5.41938159928385
     AFG          Afghanistan                                   NaN
     AFW          Africa Western and Central       1.99542065752085
     AGO          Angola                                        NaN

Series Name                                   GDP per capita (constant 2015 US$)  \
Year Country Code Country Name
1980 ABW          Aruba                                                      NaN
     AFE          Africa Eastern and Southern                   1468.92096062617
     AFG          Afghanistan                                                NaN
     AFW          Africa Western and Central                    1574.17539390181
     AGO          Angola                                        2653.47289479177

Series Name                                   GDP per capita growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                                    NaN
     AFE          Africa Eastern and Southern                 2.37442217038561
     AFG          Afghanistan                                              NaN
     AFW          Africa Western and Central                 -0.76473427494092
     AGO          Angola                                                   NaN

Series Name                                    ...  \
Year Country Code Country Name                 ...
1980 ABW          Aruba                        ...
     AFE          Africa Eastern and Southern  ...
     AFG          Afghanistan                  ...
     AFW          Africa Western and Central   ...
     AGO          Angola                       ...

Series Name                                   Government expenditure on education, total (% of government expenditure)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Population density (people per sq. km of land area)  \
Year Country Code Country Name
1980 ABW          Aruba                                                         333.872222222222
     AFE          Africa Eastern and Southern                                   15.5992323017681
     AFG          Afghanistan                                                   20.4782055409901
     AFW          Africa Western and Central                                    17.2325957518312
     AGO          Angola                                                        6.69069543595091

Series Name                                   Population growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                  0.208213685729551
     AFE          Africa Eastern and Southern             2.97433613234995
     AFG          Afghanistan                           -0.407658191922243
     AFW          Africa Western and Central              2.78142544618063
     AGO          Angola                                  3.45385947653688

Series Name                                   Population, female  \
Year Country Code Country Name
1980 ABW          Aruba                                    30806
     AFE          Africa Eastern and Southern          114440574
     AFG          Afghanistan                            6568227
     AFW          Africa Western and Central            78003993
     AGO          Angola                                 4115191

Series Name                                   Population, female (% of total population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                 51.2604622526915
     AFE          Africa Eastern and Southern                           50.3464941930698
     AFG          Afghanistan                                           49.1762587504211
     AFW          Africa Western and Central                            50.0403240214554
     AGO          Angola                                                 49.335186763678

Series Name                                   Population, total  \
Year Country Code Country Name
1980 ABW          Aruba                                   60097
     AFE          Africa Eastern and Southern         227305945
     AFG          Afghanistan                          13356500
     AFW          Africa Western and Central          155882270
     AGO          Angola                                8341290

Series Name                                   Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Poverty headcount ratio at national poverty lines (% of population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Urban population (% of total population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                         50.472
     AFE          Africa Eastern and Southern                         20.8449997980123
     AFG          Afghanistan                                                   15.995
     AFW          Africa Western and Central                          24.5185774336299
     AGO          Angola                                                        24.298

Series Name                                   Urban population growth (annual %)
Year Country Code Country Name
1980 ABW          Aruba                                        0.178188464900201
     AFE          Africa Eastern and Southern                   4.45422064112357
     AFG          Afghanistan                                   3.11083842471923
     AFW          Africa Western and Central                    4.89701529375728
     AGO          Angola                                        8.11256004063561

[5 rows x 21 columns]

###### Convert the pivot table to dataframe

In [30]:
wdi_final = pd.DataFrame(wdi_reshaped.to_records())

In [31]:
wdi_final.head()

,Year,Country Code,Country Name,CO2 emissions (metric tons per capita),"Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)","Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",Energy use (kg of oil equivalent per capita),Forest area (sq. km),GDP (constant 2015 US$),...,"Government expenditure on education, total (% of government expenditure)",Population density (people per sq. km of land area),Population growth (annual %),"Population, female","Population, female (% of total population)","Population, total",Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population),Poverty headcount ratio at national poverty lines (% of population),Urban population (% of total population),Urban population growth (annual %)
0,1980,ABW,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,333.872222222222,0.208213685729551,30806,51.2604622526915,60097,NaN,NaN,50.472,0.178188464900201
1,1980,AFE,Africa Eastern and Southern,NaN,NaN,NaN,NaN,789.384320528797,NaN,333894467085.439,...,NaN,15.5992323017681,2.97433613234995,114440574,50.3464941930698,227305945,NaN,NaN,20.8449997980123,4.45422064112357
2,1980,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.4782055409901,-0.407658191922243,6568227,49.1762587504211,13356500,NaN,NaN,15.995,3.11083842471923
3,1980,AFW,Africa Western and Central,NaN,NaN,NaN,NaN,569.830665834955,NaN,245386033779.559,...,NaN,17.2325957518312,2.78142544618063,78003993,50.0403240214554,155882270,NaN,NaN,24.5185774336299,4.89701529375728
4,1980,AGO,Angola,NaN,NaN,NaN,NaN,547.044521890499,NaN,22133386922.5976,...,NaN,6.69069543595091,3.45385947653688,4115191,49.335186763678,8341290,NaN,NaN,24.298,8.11256004063561

In [60]:
wdi_final = wdi_final.rename(columns={'Country Code': 'COU', 'Country Name': 'Country'})

In [61]:
oecd_final.columns

Index(['Year', 'COU', 'Country', '% Composting', '% Disposal',
       '% Incineration', '% Incineration with energy recovery',
       '% Incineration without energy recovery', '% Landfill',
       '% Material recovery (Recycling + Composting)', '% Other disposal',
       '% Other recovery', '% Recovery', '% Recycling',
       'Amount designated for recovery operations', 'Bulky waste',
       'Composting', 'Disposal operations',
       'Electric and electronic equipment waste',
       'Household and similar waste', 'Incineration with energy recovery',
       'Incineration without energy recovery', 'Landfill',
       'Municipal waste generated', 'Municipal waste generated per capita',
       'Municipal waste generated, Index 1990',
       'Municipal waste generated, Index 2000', 'Municipal waste treated',
       'Other disposal', 'Other municipal waste', 'Other recovery',
       'Recycling', 'Total Incineration', 'Waste from households'],
      dtype='object')

In [62]:
wdi_final.columns

Index(['Year', 'COU', 'Country', 'CO2 emissions (metric tons per capita)',
       'Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)',
       'Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)',
       'Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)',
       'Energy use (kg of oil equivalent per capita)', 'Forest area (sq. km)',
       'GDP (constant 2015 US$)', 'GDP growth (annual %)',
       'GDP per capita (constant 2015 US$)',
       'GDP per capita growth (annual %)',
       'Government expenditure on education, total (% of GDP)',
       'Government expenditure on education, total (% of government expenditure)',
       'Population density (people per sq. km of land area)',
       'Population growth (annual %)', 'Population, female',
       'Population, female (% of total population)', 'Population, total',
       'Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Urban population (% of total population)',
       'Urban population growth (annual %)'],
      dtype='object')

In [63]:
merged_df = pd.merge(oecd_final, wdi_final, how='inner', left_on=['Year','COU'], right_on=['Year','COU']) #Needs to be fixed

In [64]:
merged_df.head(50)

,Year,COU,Country_x,% Composting,% Disposal,% Incineration,% Incineration with energy recovery,% Incineration without energy recovery,% Landfill,% Material recovery (Recycling + Composting),...,"Government expenditure on education, total (% of government expenditure)",Population density (people per sq. km of land area),Population growth (annual %),"Population, female","Population, female (% of total population)","Population, total",Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population),Poverty headcount ratio at national poverty lines (% of population),Urban population (% of total population),Urban population growth (annual %)
0,1990,AUT,Austria,23.171,56.277,8.881,8.881,NaN,56.277,34.529,...,11.5131101608276,93.0422927775085,0.762001611316115,4005232,52.1660667580361,7677850,NaN,NaN,62.96,0.332494357748522
1,1990,BEL,Belgium,5.983,66.751,45.039,22.141,22.898,43.853,11.108,...,NaN,NaN,0.298235706313592,5090672,51.0733225104169,9967379,NaN,NaN,96.377,0.386473447431904
2,1990,CHE,Switzerland,6.341,22.680,48.773,48.773,0.000,22.680,28.547,...,17.181640625,169.888411039996,1.02687307219521,3437405,51.1859913754554,6715519,NaN,NaN,73.926,0.945758640258411
3,1990,CHN,China (People's Republic of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,120.448249116415,1.46730321087928,552721134,48.6899610599665,1135185000,72,NaN,26.442,4.30967848070248
4,1990,DEU,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,227.517053819494,0.861969448764933,41104568,51.7474514630407,79433029,NaN,NaN,73.118,1.05636514177316
5,1990,ESP,Spain,20.330,76.210,4.809,2.944,1.865,74.345,20.846,...,10.1422901153564,77.8218044209515,0.101828842607043,19827512,51.0133225095405,38867322,0.5,NaN,75.351,0.40087871221168
6,1990,GBR,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0994596481323,236.628719050965,0.298930554095876,29420457,51.3916113936099,57247586,NaN,NaN,78.14,0.234964714351841
7,1990,GRC,Greece,NaN,94.043,NaN,NaN,NaN,94.043,5.957,...,7.19843006134033,79.1062218774244,1.05780801198192,5141255,50.4203211620586,10196792,NaN,NaN,71.467,1.32121233166716
8,1990,HUN,Hungary,0.000,92.807,7.193,7.193,0.000,92.807,0.000,...,NaN,115.433270279292,-1.03311729690015,5391730,51.9735553213869,10373988,NaN,NaN,65.838,-0.990578862198139
9,1990,ITA,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,192.850430111183,0.0837085729587984,29146541,51.3873969497077,56719240,NaN,NaN,66.726,0.0537393805274748
10,1990,JPN,Japan,NaN,NaN,71.998,NaN,NaN,19.476,5.309,...,NaN,338.667032364235,0.33178288536374,62626958,50.7191227280284,123478000,NaN,NaN,77.339,0.494834367912387
11,1990,KOR,Korea,NaN,93.577,1.778,NaN,NaN,93.577,4.645,...,NaN,444.425492432096,0.985130494218767,21379764,49.871989683869,42869283,NaN,NaN,73.844,3.3086487267101
12,1990,LUX,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.25174570700817,195016,51.0712976059511,381850,NaN,NaN,80.947,1.32089927091705
13,1990,NLD,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.9854898452759,442.876481042654,0.688603823438797,7556295,50.5386743672522,14951510,1,NaN,68.684,1.25510546084429
14,1990,NOR,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.8944702148438,11.6127109548685,0.344151412835214,2144423,50.5584507377182,4241473,NaN,NaN,71.956,0.522200916898825
15,1990,NZL,New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.6459306520831,0.92322272881111,1690913,50.7812281592325,3329800,NaN,NaN,84.742,1.20209777275256
16,1990,POL,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,124.427118090698,0.392398205207372,19552842,51.3052765564179,38110782,NaN,NaN,61.27,0.465870592820303
17,1990,PRT,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.2703504562378,109.106207650273,-0.217948479672573,5177915,51.8661881662089,9983218,NaN,NaN,47.915,0.881671075947156
18,1990,SWE,Sweden,3.125,43.750,40.625,40.625,0.000,43.750,15.625,...,8.30340003967285,21.0115414726333,0.772602675661167,4330900,50.601508630123,8558835,NaN,NaN,83.1,0.772605482754793
19,1990,USA,United States,2.017,69.751,15.317,14.289,1.056,68.694,15.960,...,NaN,27.2545136128993,1.12965052045579,127297431,50.9958743545725,249623000,NaN,NaN,75.3,1.41025628541903
20,1991,AUT,Austria,11.119,57.617,12.310,12.310,NaN,57.617,29.567,...,11.7502098083496,93.9758967523025,0.998418103144403,4039020,52.0835236361943,7754891,NaN,NaN,62.689,0.567072341992738
21,1991,BEL,Belgium,6.038,70.246,42.342,18.408,23.935,46.311,11.346,...,NaN,NaN,0.371593165668169,5108986,51.0669508787832,10004486,NaN,NaN,96.461,0.458708968466601
22,1991,CHE,Switzerland,7.405,17.279,51.836,51.836,0.000,17.279,30.885,...,17.1725902557373,172.025044903742,1.24982602441627,3479955,51.1759806561214,6799978,NaN,NaN,73.869,1.1726886114345
23,1991,CHN,China (People's Republic of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,122.102948962669,1.36443400840349,560312586,48.6898091896642,1150780000,NaN,NaN,27.312,4.60168513214318
24,1991,ESP,Spain,14.701,80.941,4.919,3.689,1.230,79.711,15.370,...,10.0319404602051,78.0201345506968,0.254527424551043,19883346,51.0269311386696,38966376,NaN,NaN,75.528,0.489150366024034
25,1991,ITA,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,192.983988983714,0.0692311889532843,29173243,51.3988784883021,56758521,0.2,NaN,66.706,0.0392535418060194
26,1991,JPN,Japan,NaN,NaN,70.741,NaN,NaN,16.542,6.063,...,NaN,340,0.392819832481862,62889471,50.7320441268103,123964000,NaN,NaN,77.473,0.565933802429155
27,1991,KOR,Korea,NaN,91.020,1.623,NaN,NaN,91.020,7.356,...,NaN,448.84619531412,0.989785981821526,21586978,49.8593991840297,43295704,NaN,NaN,74.972,2.50578148499851
28,1991,LUX,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.33968316953886,197450,51.0205613475655,387000,0,NaN,81.13,1.56550866915116
29,1991,MEX,Mexico,NaN,99.318,NaN,NaN,NaN,99.318,0.682,...,12.1545896530151,43.9891051724581,1.8524373770111,43238119,50.5634355424564,85512621,NaN,NaN,71.816,2.4067720596326
30,1991,NLD,Netherlands,6.631,52.841,34.902,32.458,2.443,50.398,14.701,...,11.070839881897,446.380272511848,0.788031035375139,7614647,50.5291903719215,15069798,NaN,NaN,69.329,1.72273120380975
31,1991,POL,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,124.86921871429,0.354679168347882,19626071,51.3150980465269,38246193,NaN,NaN,61.315,0.428097164036048
32,1991,TUR,Türkiye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,71.2557917440848,1.68966344498433,27764716,50.6280356732089,54840595,NaN,NaN,59.976,2.98689047265285
33,1991,USA,United States,2.310,65.999,16.030,16.030,NaN,65.999,17.970,...,NaN,27.6211491261017,1.33626074073779,128977075,50.9829098304796,252981000,0.5,NaN,75.701,1.86738439894312
34,1992,AUS,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.2040195465088,2.2773127839319,1.21339077499647,8783194,50.2040233007602,17495000,NaN,NaN,85.285,1.07512520970029
35,1992,AUT,Austria,11.761,52.958,14.134,14.134,NaN,52.958,32.341,...,11.7597103118896,95.0158628211343,1.10055228652823,4076674,51.993694752787,7840709,NaN,NaN,62.417,0.665705624472983
36,1992,BEL,Belgium,6.654,69.420,41.812,17.791,24.021,45.399,12.789,...,NaN,NaN,0.405713495856337,5129278,51.0621944736001,10045158,1,NaN,96.542,0.489648012030033
37,1992,CHE,Switzerland,7.811,15.866,52.237,52.237,0.000,15.866,31.896,...,NaN,173.932151078955,1.10252107229095,3518090,51.1695141961334,6875364,0.5,NaN,73.815,1.02938820424635
38,1992,CHN,China (People's Republic of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.2905302047729,123.60857197122,1.2255362283362,567224558,48.6900570793803,1164970000,NaN,NaN,28.2,4.42511729026799
39,1992,ESP,Spain,10.533,85.010,4.661,3.705,0.956,84.054,11.285,...,9.73046016693115,78.403181563351,0.48975790543999,19984916,51.0370214782467,39157685,NaN,NaN,75.61,0.598270855145433
40,1992,FIN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.4065999984741,16.5533733871762,0.561909850746084,2591895,51.4061647658797,5041992,NaN,NaN,80.128,0.918226849077237
41,1992,FRA,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.56818008422852,107.47784924557,0.497242647455007,30227122,51.3619325582859,58851216,NaN,NaN,74.401,0.728690573784072
42,1992,GRC,Greece,NaN,92.932,NaN,NaN,NaN,92.932,7.068,...,NaN,80.6754150504267,0.76388272245526,5239302,50.3824485188709,10399061,NaN,NaN,71.757,0.934038998812453
43,1992,JPN,Japan,NaN,NaN,71.703,NaN,NaN,14.406,7.322,...,NaN,341.264399341744,0.371192387198527,63138402,50.7441445193659,124425000,NaN,NaN,77.61,0.547872243868824
44,1992,KOR,Korea,NaN,90.620,1.507,NaN,NaN,90.620,7.873,...,NaN,453.534750155505,1.03916135557339,21806522,49.8458010487677,43747962,NaN,NaN,75.82,2.16390257767196
45,1992,LUX,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.32834757125223,199943,50.9830172433616,392175,NaN,NaN,81.528,1.81761499447245
46,1992,MEX,Mexico,NaN,97.644,NaN,NaN,NaN,97.644,2.356,...,15.0957002639771,44.7928887059852,1.8107399038872,44088752,50.6329981500115,87075136,7.4,NaN,72.209,2.35647975106847
47,1992,NOR,Norway,0.414,78.425,14.131,13.231,0.900,77.525,8.344,...,13.6660995483398,11.7357191357011,0.577180268126687,2167123,50.5581005827355,4286401,NaN,NaN,72.665,1.1291510622728
48,1992,POL,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,125.252757190898,0.306681390812185,19690268,51.3253009587935,38363667,NaN,NaN,61.359,0.378415404554878
49,1992,PRT,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.585789680481,108.770426229508,-0.0777492667122609,5161233,51.8586858708481,9952494,NaN,NaN,49.13,1.27679359711296

In [ ]:
#rename column names or drop unnecessary ones
#function to merge
#look at individual dtypes after merge
#Summary stats
#plots on the merged files using functions maybe
#hyp 1 on a separate file
#hyp 2...