In [1]:
%matplotlib inline

import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime

In [2]:
oecd = pd.read_csv('MUNW_27112022020812290.csv', usecols=[0,1,3,5,7,9,11,12,14])

In [3]:
oecd.head()

,COU,Country,Variable,Year,Unit,PowerCode,Reference Period,Value,Flags
0,AUS,Australia,Municipal waste generated,1992,Tonnes,Thousands,NaN,12000.000,NaN
1,AUS,Australia,Municipal waste generated,2000,Tonnes,Thousands,NaN,13200.000,NaN
2,AUS,Australia,Municipal waste generated,2007,Tonnes,Thousands,NaN,12885.684,NaN
3,AUS,Australia,Municipal waste generated,2008,Tonnes,Thousands,NaN,13096.500,Estimated value
4,AUS,Australia,Municipal waste generated,2009,Tonnes,Thousands,NaN,13343.236,NaN

In [25]:
oecd = oecd[oecd['Country'].notna()]

In [26]:
oecd = oecd[oecd['Variable'].notna()]

In [27]:
oecd_final = pd.pivot(oecd, index=['Year','COU','Country'],columns='Variable',values='Value')

In [29]:
oecd_final.sort_values(by=['Country', 'Year'],ascending=[True, True])

,,Variable,% Composting,% Disposal,% Incineration,% Incineration with energy recovery,% Incineration without energy recovery,% Landfill,% Material recovery (Recycling + Composting),% Other disposal,% Other recovery,% Recovery,...,Municipal waste generated per capita,"Municipal waste generated, Index 1990","Municipal waste generated, Index 2000",Municipal waste treated,Other disposal,Other municipal waste,Other recovery,Recycling,Total Incineration,Waste from households
Year,COU,Country,,,,,,,,,,,,,,,,,,,,,
1992,AUS,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,689.569,NaN,90.909,NaN,NaN,NaN,NaN,NaN,NaN,7000.00
2000,AUS,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,695.050,NaN,100.000,NaN,NaN,NaN,NaN,NaN,NaN,7660.00
2003,AUS,Australia,NaN,69.662,NaN,NaN,NaN,69.662,30.338,NaN,NaN,30.338,...,NaN,NaN,NaN,8903.000,NaN,NaN,NaN,2701.000,NaN,8903.00
2007,AUS,Australia,6.886,58.583,NaN,1.158,NaN,58.583,40.259,NaN,7.387,41.417,...,616.058,NaN,97.619,11999.349,NaN,644.284,886.335,4004.599,NaN,12241.40
2008,AUS,Australia,7.622,58.056,NaN,1.147,NaN,58.056,40.797,NaN,7.092,41.944,...,613.928,NaN,99.216,12116.209,NaN,654.830,859.307,4019.500,NaN,12441.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,USA,United States,8.909,52.647,12.844,12.844,0.0,52.647,34.508,NaN,NaN,47.352,...,735.601,124.070,106.141,234416.500,NaN,NaN,NaN,60010.000,30109.0,NaN
2015,USA,United States,8.924,52.501,12.800,12.800,0.0,52.501,34.699,NaN,NaN,47.499,...,741.035,125.851,107.665,237782.200,NaN,NaN,NaN,61289.000,30436.0,NaN
2016,USA,United States,9.365,52.326,12.745,12.745,0.0,52.326,34.929,NaN,NaN,47.674,...,752.981,128.732,110.129,243225.000,NaN,NaN,NaN,62178.000,30999.0,NaN
2017,USA,United States,10.046,52.285,12.737,12.737,0.0,52.285,34.977,NaN,NaN,47.715,...,749.725,128.996,110.355,243724.000,NaN,NaN,NaN,60763.000,31044.0,NaN
2018,USA,United States,8.514,49.980,11.821,11.818,NaN,49.980,32.145,NaN,6.058,50.020,...,810.845,140.376,120.090,265224.500,NaN,NaN,16066.000,62677.000,31352.0,NaN

In [4]:
wdi = pd.read_csv('Data.csv')

In [5]:
wdi = wdi.drop(['Series Code'],axis=1)

In [6]:
wdi = wdi[wdi['Country Name'].notna()] #drop missing country rows

In [7]:
wdi = wdi[wdi['Series Name'].notna()] #drop missing series/variable names

In [8]:
cc_nan = wdi[wdi['Country Code'].isna()]
cc_nan

Empty DataFrame
Columns: [Country Name, Country Code, Series Name, 1980 [YR1980], 1981 [YR1981], 1982 [YR1982], 1983 [YR1983], 1984 [YR1984], 1985 [YR1985], 1986 [YR1986], 1987 [YR1987], 1988 [YR1988], 1989 [YR1989], 1990 [YR1990], 1991 [YR1991], 1992 [YR1992], 1993 [YR1993], 1994 [YR1994], 1995 [YR1995], 1996 [YR1996], 1997 [YR1997], 1998 [YR1998], 1999 [YR1999], 2000 [YR2000], 2001 [YR2001], 2002 [YR2002], 2003 [YR2003], 2004 [YR2004], 2005 [YR2005], 2006 [YR2006], 2007 [YR2007], 2008 [YR2008], 2009 [YR2009], 2010 [YR2010], 2011 [YR2011], 2012 [YR2012], 2013 [YR2013], 2014 [YR2014], 2015 [YR2015], 2016 [YR2016], 2017 [YR2017], 2018 [YR2018], 2019 [YR2019], 2020 [YR2020], 2021 [YR2021]]
Index: []

[0 rows x 45 columns]

In [9]:
#Create function to clean wdi- by reshaping into 1 time variable. 
#Merge oecd and wdi and drop whatever is not common. See alternatively if you can merge all keep uncommon vars too. 
#will have to rename oecd's cou as Country Code

In [10]:
wdi_clean = wdi.rename(columns=lambda x: re.sub(r'^\d+ \[(YR\d+)\]$',r'\1',x))

In [11]:
wdi_clean.head()

,Country Name,Country Code,Series Name,YR1980,YR1981,YR1982,YR1983,YR1984,YR1985,YR1986,...,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021
0,Argentina,ARG,CO2 emissions (metric tons per capita),..,..,..,..,..,..,..,...,4.26422378235981,4.34211506853729,4.20909563279429,4.30191387639872,4.20184577616112,4.07130836193664,3.97577197057929,3.74065029063396,..,..
1,Argentina,ARG,Energy use (kg of oil equivalent per capita),1498.78124635707,1440.78027521133,1426.35127133433,1429.28032825042,1456.76889711191,1368.43319317491,1428.87629693302,...,1936.80353979442,1967.02167752077,2029.92282543737,..,..,..,..,..,..,..
2,Argentina,ARG,Forest area (sq. km),..,..,..,..,..,..,..,...,297672,295438,293204,290970,290100,288990,287910,286810,285730,..
3,Argentina,ARG,Population density (people per sq. km of land ...,10.1935301404251,10.3550325393084,10.5216703389861,10.6924967753016,10.8660816533842,11.0411789424451,11.2175525909036,...,15.2495426957383,15.421160233713,15.5916453818299,15.7606327351655,15.9281350828921,16.0941907925267,16.2585100979651,16.4208266190179,16.580892611147,..
4,Argentina,ARG,Population growth (annual %),1.53698027406277,1.5719418140512,1.59643349568329,1.61052873578814,1.61039031434213,1.59856607352161,1.584792373551,...,1.13690569378967,1.11910919999772,1.09946109101836,1.07800134449604,1.05718157762752,1.03713389686514,1.01580834908002,0.993397493293046,0.970053991438048,0.947490959333989

In [12]:
wdi_reshaped = pd.wide_to_long(wdi_clean.reset_index(), stubnames=["YR"], i=["index","Country Name","Country Code"], j="Year",\
                               suffix='\d+')

In [13]:
wdi_reshaped = wdi_reshaped.reset_index().reindex(["Country Code", "Country Name", "Year", "Series Name", "YR"], axis=1)

In [18]:
wdi_reshaped.head()

  Country Code Country Name  Year                             Series Name  YR
0          ARG    Argentina  1980  CO2 emissions (metric tons per capita)  ..
1          ARG    Argentina  1981  CO2 emissions (metric tons per capita)  ..
2          ARG    Argentina  1982  CO2 emissions (metric tons per capita)  ..
3          ARG    Argentina  1983  CO2 emissions (metric tons per capita)  ..
4          ARG    Argentina  1984  CO2 emissions (metric tons per capita)  ..

In [15]:
wdi_reshaped['Series Name'].unique()

array(['CO2 emissions (metric tons per capita)',
       'Energy use (kg of oil equivalent per capita)',
       'Forest area (sq. km)',
       'Population density (people per sq. km of land area)',
       'Population growth (annual %)', 'Population, total',
       'Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Urban population growth (annual %)', 'GDP growth (annual %)',
       'GDP (constant 2015 US$)', 'GDP per capita (constant 2015 US$)',
       'GDP per capita growth (annual %)',
       "Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)",
       "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",
       "Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)",
       'Government expenditure on education, total (% of government expenditure)',
       'Government expenditure on education, total (% of GDP)',
       'Population, female (% of total population)', 'Population, female',
       'Urban population (% of total population)'], dtype=object)

In [16]:
wdi_final = pd.pivot(wdi_reshaped, index=['Year','Country Code','Country Name'],columns='Series Name',values='YR')

In [23]:
wdi_final = wdi_final.replace("..", np.nan)
wdi_final.head()

Series Name                                   CO2 emissions (metric tons per capita)  \
Year Country Code Country Name
1980 ABW          Aruba                                                          NaN
     AFE          Africa Eastern and Southern                                    NaN
     AFG          Afghanistan                                                    NaN
     AFW          Africa Western and Central                                     NaN
     AGO          Angola                                                         NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Energy use (kg of oil equivalent per capita)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                NaN
     AFE          Africa Eastern and Southern                             789.384320528797
     AFG          Afghanistan                                                          NaN
     AFW          Africa Western and Central                              569.830665834955
     AGO          Angola                                                  547.044521890499

Series Name                                   Forest area (sq. km)  \
Year Country Code Country Name
1980 ABW          Aruba                                        NaN
     AFE          Africa Eastern and Southern                  NaN
     AFG          Afghanistan                                  NaN
     AFW          Africa Western and Central                   NaN
     AGO          Angola                                       NaN

Series Name                                   GDP (constant 2015 US$)  \
Year Country Code Country Name
1980 ABW          Aruba                                           NaN
     AFE          Africa Eastern and Southern        333894467085.439
     AFG          Afghanistan                                     NaN
     AFW          Africa Western and Central         245386033779.559
     AGO          Angola                             22133386922.5976

Series Name                                   GDP growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                         NaN
     AFE          Africa Eastern and Southern      5.41938159928385
     AFG          Afghanistan                                   NaN
     AFW          Africa Western and Central       1.99542065752085
     AGO          Angola                                        NaN

Series Name                                   GDP per capita (constant 2015 US$)  \
Year Country Code Country Name
1980 ABW          Aruba                                                      NaN
     AFE          Africa Eastern and Southern                   1468.92096062617
     AFG          Afghanistan                                                NaN
     AFW          Africa Western and Central                    1574.17539390181
     AGO          Angola                                        2653.47289479177

Series Name                                   GDP per capita growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                                    NaN
     AFE          Africa Eastern and Southern                 2.37442217038561
     AFG          Afghanistan                                              NaN
     AFW          Africa Western and Central                 -0.76473427494092
     AGO          Angola                                                   NaN

Series Name                                    ...  \
Year Country Code Country Name                 ...
1980 ABW          Aruba                        ...
     AFE          Africa Eastern and Southern  ...
     AFG          Afghanistan                  ...
     AFW          Africa Western and Central   ...
     AGO          Angola                       ...

Series Name                                   Government expenditure on education, total (% of government expenditure)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Population density (people per sq. km of land area)  \
Year Country Code Country Name
1980 ABW          Aruba                                                         333.872222222222
     AFE          Africa Eastern and Southern                                   15.5992323017681
     AFG          Afghanistan                                                   20.4782055409901
     AFW          Africa Western and Central                                    17.2325957518312
     AGO          Angola                                                        6.69069543595091

Series Name                                   Population growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                  0.208213685729551
     AFE          Africa Eastern and Southern             2.97433613234995
     AFG          Afghanistan                           -0.407658191922243
     AFW          Africa Western and Central              2.78142544618063
     AGO          Angola                                  3.45385947653688

Series Name                                   Population, female  \
Year Country Code Country Name
1980 ABW          Aruba                                    30806
     AFE          Africa Eastern and Southern          114440574
     AFG          Afghanistan                            6568227
     AFW          Africa Western and Central            78003993
     AGO          Angola                                 4115191

Series Name                                   Population, female (% of total population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                 51.2604622526915
     AFE          Africa Eastern and Southern                           50.3464941930698
     AFG          Afghanistan                                           49.1762587504211
     AFW          Africa Western and Central                            50.0403240214554
     AGO          Angola                                                 49.335186763678

Series Name                                   Population, total  \
Year Country Code Country Name
1980 ABW          Aruba                                   60097
     AFE          Africa Eastern and Southern         227305945
     AFG          Afghanistan                          13356500
     AFW          Africa Western and Central          155882270
     AGO          Angola                                8341290

Series Name                                   Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Poverty headcount ratio at national poverty lines (% of population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Urban population (% of total population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                         50.472
     AFE          Africa Eastern and Southern                         20.8449997980123
     AFG          Afghanistan                                                   15.995
     AFW          Africa Western and Central                          24.5185774336299
     AGO          Angola                                                        24.298

Series Name                                   Urban population growth (annual %)
Year Country Code Country Name
1980 ABW          Aruba                                        0.178188464900201
     AFE          Africa Eastern and Southern                   4.45422064112357
     AFG          Afghanistan                                   3.11083842471923
     AFW          Africa Western and Central                    4.89701529375728
     AGO          Angola                                        8.11256004063561

[5 rows x 21 columns]

In [24]:
wdi_final.sort_values(by=['Country Name', 'Year'],ascending=[True, True])

,,Series Name,CO2 emissions (metric tons per capita),"Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)","Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",Energy use (kg of oil equivalent per capita),Forest area (sq. km),GDP (constant 2015 US$),GDP growth (annual %),GDP per capita (constant 2015 US$),GDP per capita growth (annual %),...,"Government expenditure on education, total (% of government expenditure)",Population density (people per sq. km of land area),Population growth (annual %),"Population, female","Population, female (% of total population)","Population, total",Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population),Poverty headcount ratio at national poverty lines (% of population),Urban population (% of total population),Urban population growth (annual %)
Year,Country Code,Country Name,,,,,,,,,,,,,,,,,,,,,
1980,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.4782055409901,-0.407658191922243,6568227,49.1762587504211,13356500,NaN,NaN,15.995,3.11083842471923
1981,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.1948377106236,-1.3934163397202,6472949,49.1429300698871,13171679,NaN,NaN,16.562,2.0900441537399
1982,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,19.7514956380418,-2.21977958780843,6324845,49.0963412587508,12882518,NaN,NaN,17.147,1.25145752639358
1983,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,19.2228692332459,-2.71285408602014,6149028,49.0441811964078,12537732,NaN,NaN,17.747,0.726474518241479
1984,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.7116599972402,-2.69538173169936,5980043,48.9994515050671,12204306,NaN,NaN,18.365,0.727659896469548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,ZWE,Zimbabwe,0.726297070851536,2.46642994880676,4.14392995834351,3.25141000747681,NaN,175827.9,21061283685.9496,4.70949217898975,1479.37605645489,3.1924525709815,...,20.8742008209229,36.8013416052734,1.45940581314681,7459545,52.3969594142534,14236599,34.2,30.4,32.237,1.27654356252103
2018,ZWE,Zimbabwe,0.85741126863075,NaN,NaN,NaN,NaN,175367.2,22077324353.2946,4.82421053956361,1529.0263737276,3.35616607123501,...,19.0398406982422,37.3240584205764,1.41038154233327,7559693,52.3567520651976,14438812,NaN,NaN,32.209,1.32349714884316
2019,ZWE,Zimbabwe,0.802978519634142,NaN,NaN,NaN,NaN,174906.5,20720841373.1335,-6.14423631439116,1414.82909928095,-7.46862686012715,...,NaN,37.8582732325191,1.42114188586135,7662120,52.3173269992714,14645473,39.8,38.3,32.21,1.42424874688139
2020,ZWE,Zimbabwe,NaN,NaN,NaN,NaN,NaN,174445.8,19426048165.877,-6.24874822378281,1307.01362967584,-7.62038819104805,...,NaN,38.4203877471888,1.47387141587655,7770917,52.2838940136085,14862927,NaN,NaN,32.242,1.57316861683581
2021,ZWE,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,20562359266.1945,5.84941976162474,1362.45204657398,4.24160970011445,...,NaN,NaN,1.53061409146706,7886940,52.2584855419409,15092171,NaN,NaN,32.303,1.71962800198561